<div class="container">

  <h1>Shorten that thang!</h1>
  <form action="/urls", method="POST">
    <input type="text" name="user_input" autofocus placeholder="http://www.website.com">
    <input type="submit" value="shorten">
  </form>

  <table>
    <tbody>
      <tr>
        <td class="row_header">clicks</td>
        <td class="row_header">short url</td>
        <td class="row_header">full url</td></tr>
      <%@urls.reverse_each do |url| %>
        <tr>
          <td><%=url.click_count%></td>
          <td><a href="/<%= url.short_url %>"><%=url.short_url%></a></td>
          <td class="long-url"><a href="<%= url.long_url %>"><%=url.long_url%></a></td>
        </tr>
      <%end%>
    </tbody>
  </table>
</div>

<section id="create-login">
  <% if current_user %>
    <%= erb :_user_profile %>
  <% else %>
    <%= erb :_create_account %>
  <% end %>
</section>
