<div class="container">

  <h1><a href="/">Shorten that thang!</a></h1>
<h3>My URLs:</h3>
<table>
  <tbody>
    <tr>
      <td class="row_header">clicks</td>
      <td class="row_header">short url</td>
      <td class="row_header">full url</td></tr>
    <%@user_urls.reverse_each do |url| %>
      <tr>
        <td><%=url.click_count%></td>
        <td><a href="/<%= url.short_url %>"><%=url.short_url%></a></td>
        <td class="long-url"><a href="<%= url.long_url %>"><%=url.long_url%></a></td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= erb :_user_profile %>
</div>
